

.trading_books{
    background-color: lighten($color: $dark-grey, $amount: 75);  
    display: flex;
    flex-direction: row;      
}

.trading__books-sold-buy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    margin-left: 10px;    
}

.trading__books-sold-buy p{
    margin-right: 30px;
}